body {
  background-color: #cd9cf2;
}

.container {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 30px 25px;
  border: solid 2px rgb(141, 67, 168);
  border-radius: 20px;
  max-width: 550px;
  background-color: #fff;
}

.Weather button {
  font-size: 14px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(105, 50, 124, 0.2);
}

.Weather button:hover {
  background-color: rgba(105, 50, 124, 0.2);
}
.Weather hr {
  margin: 10px;
  color: rgb(141, 67, 168);
}
.Weather h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 0px;
}
.Weather h2 {
  font-size: 25px;

  margin-bottom: 0px;
}
.Weather h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0px;
}
.Weather h4 {
  font-size: 16px;
  margin-top: 0;
  font-weight: 400;
}
.Weather ul {
  list-style-type: none;
}

.Weather p {
  font-size: 14px;
}

.Weather .change-city {
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(105, 50, 124, 0.2);
}

.Weather .search {
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px rgba(105, 50, 124, 0.2);
}

.Weather .search:hover {
  background-color: rgba(105, 50, 124, 0.2);
}

.Weather .city-search {
  width: 100%;
}

.Weather .current-temp {
  font-size: 65px;
  text-align: center;
  line-height: 1;
}
.Weather .details {
  vertical-align: middle;
}

.Weather temp {
  position: relative;
  top: 5px;
}

.Weather .forecast-heading {
  font-size: 20px;
  margin-bottom: 5px;
}
.Weather .temp-units {
  font-size: 15px;
  position: relative;
  bottom: 30px;
  margin-left: 3px;
}

.Weather .active-unit {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.Weather .active-unit:hover {
  cursor: default;
}
.Weather a {
  text-decoration: none;
}
