.App {
  margin: 30px auto;
  max-width: 600px;
}
.container {
  margin: 0 auto;
}

.Footer {
  padding: 5px;
}
.Footer p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.Footer a {
  text-decoration: none;
  color: #8d43a8;
}

.Footer a:hover {
  text-decoration: underline;
}
